/* Estilos para el cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  margin: 2;
  padding: 2;
  display: flex;
  height: 100vh;

  background-color: black;
  color:aliceblue
}

/* Estilos para el contenedor principal */
.App {
  display: flex;
  width: 100%;
}

/* Estilos para la barra lateral */
/* ... Otros estilos ... */

.app-content {
  display: flex;
}

.sidebar {
  flex: 0 0 30%;
  background-color: #303030;
  padding: 20px;
  overflow-y: auto; /* Agregamos un scroll si hay demasiadas notas */
}

/* Resto de estilos... */

/* Estilos para el contenedor de la nota */
.note-container {
  width: 70%;
  padding: 20px;
  position: relative;
  border-radius: 10px;
}

.character-counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: gray;
  font-size: 12px;
}

/* Estilos para el botón en la barra lateral */
.sidebar button {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar button:hover {
  background-color: #0056b3;
}

/* Estilos para el selector en la barra lateral */
.sidebar select {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
}


